

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: #5a5a5a;

}

img{
    cursor: pointer;
}



nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow:  0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position:fixed;
    top: 0;
    z-index: 10;
   height: 80px;
   width: 100%;
}

.nav-right img{

    width: 30px;
  
   
   
}

.nav-left img{
  
    margin-left: 25;
    

}

.image-right ul{

    float: right;
    
  
    

}

.image-right li{
    display: inline-block;
    line-height: 80px;
    margin-left: 60px;
    margin-top: -45px;
   
   
}

.menu{
    position: absolute;
   margin-top: 20px;
   width: 30px;
   
   
   
}

.logo{
    position: absolute;
  margin-left: 60px;
  margin-top: 20px;
  height: 30px;
  width: 170px;
   
   
}

.user-icon{
    
  border-radius: 20px;
  
  }

.mic  {
height: 19px;
}

.search{
    width: 500px;
    height: 40px;
    margin-left: 400px;
    
}

.search-logo{
    height: 40px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid black ;
    padding: 0px;
    
}

.mic{
    margin-left: 970px;
    margin-top: -35px;
    position: absolute;
    border: 1px solid gainsboro;
    border-radius: 20px;
    height: 30px;
    width: -40px;


}

.sidebar{
    background: #fff;
    width: 30px;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    margin-top: 25px;
    
}

.shortcut-links img{
    width: 30px;
    margin-right: 25px;
}

.shortcut-links a{

    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    margin-right: 50px;
    
}

.shortcut-links p{
    margin-right: 20px;
    width: 100px;

    }

    .sidebar hr{

        border: 0;
        height: 1px;
        background: #ccc;
        width: 85%;
    }

.small-sidebar{
    width: 0%;

}

.small-sidebar a p {
    display: none;
}

.small-sidebar h3{
    display: none;
}

.container{
    background: #f9F9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container{

    padding: 7%;

}
.list-container{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 20px;

}

.vid-list .thumbnail{

    height: 140px;
    border-radius:5% ;
}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}

.vid-info{
    margin-left: 50px;
    margin-top: -40px;
   
}
 .vid-list .user-icon{
    border-radius:20px ;
    width: 40px;
}

@media (max-width:900px) {
    .menu-icon{
        display: none;

    }
    .sidebar{
        display: none;

    }
    .banner{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .nav-middle{
        display: none;
    }
}

.right-corner{
    background: #fff;
    width: 30px;
    float: right;
    margin-top: -280px;
    
}

 .help img{
    width: 30px;
    margin-right: 25px;
}

.help a{

    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    margin-right: 50px;
    
}

.help p{
    display: none;

    }